
<!-- <div id="post-likes-modal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Likes</h4>
            </div>
            <div class="modal-body">
                <ul id="all-post-likes" class="list-group">
                    <li class="list-group-item" ng-repeat="user in likesModal.likers">
                        <strong>{{ user.username }}</strong>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div> -->
